hr {
  margin: 0;
}

.footer {
  background-color: var(--white-100);
  padding: 1em;
}

.footer-list {
  display: none;
}

@media screen and (min-width: 1024px) {
  .footer-list {
    display: block;
  }

  .footer {
    display: flex;
    justify-content: space-around;
  }

  .footer-list__item {
    display: flex;
    align-items: center;
    margin: 0.6em 0;
  }

  .footer-list__link {
    text-decoration: none;
    color: var(--bg-700);
    margin-left: .6em;
  }

  .footer-list__title {
    font-size: 14px;
    color: var(--bg-700);
  }

  .footer__title {
    font-size: 24px;
  }
}

@media screen and (min-width: 1728px) {
  .footer-list {
    border-left: 1px solid var(--bg-700);
    padding-left: 1em;
  }

  .footer {
    padding: 3em;
  }

}