/* @import url("./header.css"); */

:root {
  --background: #ebecee;
  --white: #ffffff;
  --orange: #eb9b00;
  --blue-gradient: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
}

body {
  background: var(--background);
}

