/* @import url("./header.css"); */

:root {
  --background: #1C1F2A;
  --white: #2A2D37;
  --purple: #6949FF;
  --blue-gradient: linear-gradient(97.54deg, #4832AE 35.49%, #6949FF 165.37%);
  --main-font: 'Poppins', sans-serif;
}

body {
  background: var(--background);
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 400;
}

