.header__menu-hamburger {
  width: 24px;
  height: 24px;
  background-image: url("../images/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.header {
  background-color: var(--bg-800);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
}

.container__image {
  padding: 1rem;
}

.menu-list {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}

.container__button:checked ~ .menu-list {
  display: block;
}

.menu-list__title, .menu-list__item {
  padding: 1rem;
  background-color: var(--bg-700);
}

.menu-list__title {
  color: var(--purple-900);
  font-weight: 700;
}

.menu-list__link {
  background: var(--purple-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
  text-decoration: none;
}

.container__button {
  display: none;
}

.container__title, .nav {
  display: none;
}

@media screen and (min-width: 1024px) {
  .container__title, .container__title--bold {
    font-family: var(--second-font);
    font-size: 30px;
    color: var(--white-100);
  }

  .container__title {
    font-weight: 400;
    display: block;
  }

  .container__title--bold {
    font-weight: 700;
  }

  .nav {
    display: flex;
    color: var(--white-200);
  }

  .nav__item {
    padding: 0 1em;
    text-transform: uppercase;
  }

  .nav__link {
    text-decoration: none;
    color: var(--white-200);
  }

  .container__image--transparent, .header__menu-hamburger {
    display: none;
  }

  .nav__button:checked ~ .menu-list {
    display: block;
    width: auto;
  }

  .nav__button {
    display: none;
  }
}