.header__menu-hamburger {
  width: 24px;
  height: 24px;
  background-image: url("../images/Menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.header {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
}

.container__image {
  padding: 1rem;
}

.menu-list {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}

.container__button:checked ~ .menu-list {
  display: block;
}

.menu-list__title, .menu-list__item {
  padding: 1rem;
  background-color: var(--white);
}

.menu-list__title {
  color: var(--orange);
  font-weight: 700;
}

.menu-list__link {
  background: var(--blue-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
  text-decoration: none;
}

.container__button {
  display: none;
}